:root{
    --cor1: #141414;
    --cor2: #E50914;
    --cor3: #AAA;
    --cor4: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*HEADER*/
body{
    background: var(--cor1);
    font-family: 'Arial', Times, serif;
    color: var(--cor4);
    
    /*TRAVA SCROLL*/
    /*overflow: hidden*/

}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between ;
}

header .logo{
    color: var(--cor2);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 15px;
}
header nav a{
    text-decoration: none;
    color: var(--cor3);
    margin-right: 10px;
}
header nav a:hover{
    color: #fff;
}

.divisor{
    height: 4px;
    width: 100%;
    margin: 5px 0 5px 0;
    background-color: var(--cor2);
}
/*Video*/
.video{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(0,0,0,.70),rgba(0,0,0,.70)100%);
    z-index:2;
    display: none;

}

/*FILME PRINCIPAL*/
.filme-principal{
    font-size: 16px;
    background:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%) ;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    background-position-y: 20% !important;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filme-principal .descricao{
    height: 190px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filme-principal .titulo{
    margin-top: 80px;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botoes{
    display: block;
    top: 380px;
}

.botao{

    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    border-radius: 10px;
    width: 130px;
    padding: 15px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: var(--cor2) ;
}

.botao i{
    font-size: 16px;
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

/*FILMES*/
.filmes .titulo{
    margin: 15px;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Arial', sans-serif;
}

/*CARROSEL*/
.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}
.item .box-filme:hover{
    padding: 4px;
    background: var(--cor2);
    opacity: 0.7;
    cursor: pointer;
}